<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sorting</title>
		<style>
			html, body{
				height: 100%;
				min-height: 100%;
				background-color: #202020;
				overflow-y: hidden;
			}
			.controlArea{
				min-height: 100%;
				height: 100vh;
				width: 300px;
				background-color: #353535;
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
			}
		</style>
	</head>
	<body>
		<div class="controlArea">
	
		</div>
	</body>
</html>
