<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sorting</title>
		<script src="/p5.min.js" is:inline></script>
		<script type="text/javascript" src="/script.js"></script>
		<style>
			html, body{
				height: 100%;
				min-height: 100%;
				/*overflow-y: hidden;
				overflow-x: hidden;*/
				margin: 0;
			}
			.controlArea{
				min-height: 100%;
				height: 100vh;
				width: 20vw;
				background-color: #272727;
				position: absolute;
				text-align: center;
				left: 0;
				top: 0;
				z-index: 20;
			}
			h2, p{
				text-align:center;
				color: #ffffff;
				font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
			}
			canvas{
				height: 100vh;
				width: 80vw;
				background-color: #151515;
				position: absolute;
				left: 0;
				top: 0;
				overflow-x: hidden;
				margin-left: 20vw;
			}
			button{
				font-family:'Lucida Sans';
				font-size: 24px;

			}
			input{
				width:15vw;
				vertical-align:bottom;
			}
			select{
				font-family:'Lucida Sans';
				font-size: 24px;
			}
			span{
				font-family:'Lucida Sans';
				color:#ffffff;
			}

		</style>
	</head>
	<body>
		<div class="controlArea">
			<h2>Sorting Visualization</h2>
			<p>Made by Simon Ambrozak</p>
			<span id="number"></span>
			<input type="range" id="count" min="5" max="50" value="25"></input>
			<p></p>
			<span id="speedNumber"></span>
			<input type="range" id="speed" min="0" max="100" value="50"></input>
			<p></p>
			
			
			<button onclick="randomize()">
				Randomize
			</button>
			<p></p>
			<select name="sorts" id="selector">
				<option value="insertion">Insertion Sort</option>
				<option value="bubble">Bubble Sort</option>
				<option value="merge">Merge Sort</option>
				<option value="quick">Quick Sort</option>
			</select>
			<p></p>
			<button onclick="selectSort()">
				Sort
			</button>
		</div>
		<canvas id="canv">

		</canvas>
	</body>
</html>
